

.button{
    -fx-background-color: transparent;
}


.navContent {
    -fx-border-color: #F4F5F7;
    -fx-border-width: 0 2 0 0;
}
.contentStyle2{
    -fx-border-color: #F4F5F7;
    -fx-border-width: 0 0 2 0;
}

.img-style {
    -fx-border-radius: 20px;
}
.selected {
    -fx-border-color: #157BFE;
    -fx-border-width: 0 0 0 3;
}
.unselected:hover{
    -fx-text-fill: #000;
}

.date {
    -fx-background-color: transparent;
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 1 0;

}
.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;

}
.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;

}

.date-picker .arrow-button .arrow {
    -fx-background-color: transparent;

}
.addButton{
    -fx-background-color:  #157BFE;
}

.addButton:pressed {
    -fx-background-color:  #1566FE;
}


/*CustomerReg*/
.table-view .column-header{
    -fx-background-color: #F6F7F9;
}